{{!< default}}

<div class="posts">
  {{#foreach posts}}
  <div class="post">
    <h1 class="post-title">
      <a href="{{url}}">
        {{{title}}}
      </a>
    </h1>

    <span class="post-date">{{date format='YYYY-MM-DD'}}</span>

    <p>{{excerpt words="40"}} ...</p>
    <p><a class="read-more" href="{{url}}">Read More</a></p>  </div>
  {{/foreach}}

  {{pagination}}
</div>
